<%= javascript_pack_tag 'chartkick' %>

<div class="row navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
  <%= image_tag "logowhite.png" %>
  <% end %>

  <h1>My Dashboard</h1>

  <div class="navbar-toggler-position">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-user-alt"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown text-right">
        <%= link_to "Profile", profile_path(:id), class: "dropdown-item text-secondary pl-0" %>
        <%= link_to "Log in", new_user_session_path, class: "dropdown-item text-secondary pl-0" unless user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-secondary" if user_signed_in? %>
      </li>
    </ul>
  </div>
</div>



<div class="container container-global" style="height: 73vh;">
  <div class="card my-1">
    <div class="card-header m-0 p-0 container" id="heading">
      <div class='col-12 py-3 px-1'>
        <h3>NutriScore</h3>
      </div>
      <div class="col-12">
        <%= pie_chart(@nutriscores, width: "320px", height: "240px", colors: ['a': '#111', 'b': '#860', 'c': '#333', 'd': '#134', 'e': '#567']) %>
      </div>
      <div class="col-12 py-3 px-2">
        <p>The NutriScore is a logo that shows the nutritional quality of food products with A to E grades. With the NutriScore, products can be easily and quickly compared.</p>
      </div>
    </div>
  </div>
  <div class="card my-1">
    <div class="card-header m-0 p-0 container" id="heading">
      <div class='col-12 py-3 px-1'>
        <h3>NovaScore</h3>
      </div>
      <div class="col-12">
        <%= pie_chart(@novascores, width: "320px", height: "240px") %>
      </div>
      <div class="col-12 py-3 px-2">
        <p>Four categories of foods are proposed in the NOVA food classification, which seeks to relate food processing as the primary driver of diet quality. Of these, the category “ultra-processed foods” has been widely studied in relation both to diet quality and to risk factors for noncommunicable disease.</p>
      </div>
    </div>
  </div>
<!-- continue here -->

</div>


<div class="footer-position">
  <input class="inputfooter" type="checkbox" id="switch" checked="true" />
  <label class="labelfooter" for="switch"></label>
  <%= link_to "", lastbasket_path, class: "d-none hidden-link" %>
</div>
