<%= javascript_pack_tag 'chartkick' %>


  <div class="px-3 py-3 mb-4 newheader ">
    <h1 class="text-center mb-0 pb-0 ">My consumption habits</h1>
  </div>

<div class="container global p-0 m-0 col-sm col-lg ">

  <div class="dashboard">




    <div class="card" id="heading" style="width: 340px;">
      <div class='pt-3 px-1 m-0'>
        <h5>basket score progression</h5>
        <div class="text-center">
          <h2 class="mb-2">Aim for a perfect 100!</h2>
        </div>
          <% @average_score_dated = {}  %>
          <% current_user.orders.each do  |order|
            @average_score_dated[order.purchase_date] = ( order.total_score / 3 )%>
            <% end  %>
        <div class="" style="align-items: center; margin-top: 35px;">
            <%= line_chart @average_score_dated, height: "250px",width: "310px", colors: ["#27debd", "#666"], max: 100 %>



        <% average_score = []  %>
        <% current_user.orders.each { |order| average_score << (order.total_score / 3) }%>

      <h4 class="text-center justify-content-center basketscore mt-2">AVERAGE BASKET SCORE : <B style="font-size: 17px; position: "><%= average_score.sum / average_score.count %>/100 </B> </h4>


        </div>
      </div>
    </div>



<!--
Nutriscore -->

    <div class="card" id="heading" style="width: 340px;">
      <div class='pt-3 px-1 m-0'>
        <h5>Nutri-Score total repartition</h5>

        <div class="text-center">
          <h2 class="mb-2">The less of D & E you have, the better you are !</h2>
        </div>

        <%= pie_chart(@nutriscores_rename, width: "320px", height: "240px",colors: ['#017F3D', '#8DC51E', '#FAD000', '#FF8F02', '#ff6384']) %>

        <div class="mt-3 text-center">
          <h3>Nutri-score impacts mainly :</h3>
          <p class="mb-2"><i class="fas fa-heart" style="color: rgba(255, 60, 2, 0.6)">Health</i> </p>
        </div>
      </div>
    </div>



<!-- Novascore-->


    <div class="card" id="heading"style="width: 340px;">
      <div class='pt-3 px-1'>
        <h5 class="pb-2">NovaScore total repartition</h5>

        <div class="text-center">

          <h2 class="pb-2">The bigger the 1 & 2 slices are, the better you are !</h2>
        </div>

        <%= pie_chart(@novascores, width: "320px", height: "240px", colors: ['#6FD082', '#FFCC00', '#FF6600', '#F90200']) %>
          <%#= pie_chart(
          @novascores.values.map { |h| [h[:string], h[:total]] }.to_h,
          colors: @novascores.values.map { |h| h[:color] },
          width: "320px",
          height: "240px"
          )
        %>
        <div class="mt-3 text-center">
          <h3>Novascore impacts mainly :</h3>
          <p class=""><i class="fas fa-heart" style="color: rgba(255, 60, 2, 0.6)">Health</i> </p>
          <p class="mb-2"><i class="fas fa-leaf" style="color: rgba(1, 127, 61, 0.6)">Environment</i> </p>
        </div>
      </div>
    </div>


<!-- Additives -->


    <div class="card" id="heading" style="width: 340px;">
      <div class='py-3 px-1'>
        <h5 class='pb-2'>Additives repartition</h5>
        <div class="text-center">
          <h2 class="pb-2">The less additives you have, the better you are !</h2>
        </div>
        <%= pie_chart(
          @additives_score.values.map { |h| [h[:string], h[:total]] }.to_h,
          colors: @additives_score.values.map { |h| h[:color] },
          width: "320px",
          height: "240px"
          )
        %>
        <div class="mt-3 text-center">
          <h3>Additives impact mainly :</h3>
          <p class=""><i class="fas fa-heart" style="color: rgba(255, 60, 2, 0.6)">Health</i> </p>
          <p class="mb-2"><i class="fas fa-leaf" style="color: rgba(1, 127, 61, 0.6)">Environment</i> </p>
        </div>
      </div>
    </div>


<!-- Labels -->


    <div class="card" id="heading" style="width: 340px;">
      <div class='pt-3 px-1'>
        <h5 class='pb-2'>Products labels repartition</h5>

        <div class="text-center">

          <h2 class="pb-2">The more labels you have, the better you are !</h2>
        </div>

           <%= pie_chart(
          @labels_score.values.map { |h| [h[:string], h[:total]] }.to_h,
          colors: @labels_score.values.map { |h| h[:color] },
          width: "320px",
          height: "240px"
          )
        %>
        <div class="mt-3 text-center">
          <h3>labels impact mainly :</h3>
          <p class=""><i class="fas fa-heart" style="color: rgba(255, 60, 2, 0.6)">Health</i> </p>
          <p class=""><i class="fas fa-leaf" style="color: rgba(1, 127, 61, 0.6)">Environment</i> </p>
          <p class="mb-2"><i class="fas fa-users" style="color: rgba(1, 196, 238, 0.6)">Social</i> </p>
        </div>
      </div>
    </div>


<!-- Packagings -->


    <div class="card" id="heading" style="width: 340px;">
      <div class='pt-3 px-1'>
        <h5 class='pb-2'>Products packaging types</h5>
        <div class="text-center">

          <h2 class="pb-2">The less plastic you buy, the better you are !</h2>
        </div>
            <%= pie_chart(
          @packaging_score.values.map { |h| [h[:string], h[:total]] }.to_h,
          colors: @packaging_score.values.map { |h| h[:color] },
          width: "320px",
          height: "240px"
          )
        %>
        <div class="mt-3 text-center">
          <h3>Packagings impact mainly :</h3>
          <p class=""><i class="fas fa-heart" style="color: rgba(255, 60, 2, 0.6)">Health</i> </p>
          <p class=""><i class="fas fa-leaf" style="color: rgba(1, 127, 61, 0.6)">Environment</i> </p>
          <p class="mb-2"><i class="fas fa-users" style="color: rgba(1, 196, 238, 0.6)">Social</i> </p>

        </div>
      </div>
    </div>


<!-- Origin -->


    <div class="card" id="heading" style="width: 340px;">
      <div class='pt-3 px-1'>
        <h5 class='pb-2'>Products origin</h5>
        <div class="text-center">

          <h2 class="pb-2">The closest your products come from, the better you are !</h2>
        </div>

        <%= pie_chart(
          @origin_score.values.map { |h| [h[:string], h[:total]] }.to_h,
          colors: @origin_score.values.map { |h| h[:color] },
          width: "320px",
          height: "240px"
          )
        %>

        <div class="mt-3 text-center">
          <h3>Origin impact mainly :</h3>
          <p class=""><i class="fas fa-heart" style="color: rgba(255, 60, 2, 0.6)">Health</i> </p>
          <p class=""><i class="fas fa-leaf" style="color: rgba(1, 127, 61, 0.6)">Environment</i> </p>
          <p class="mb-2"><i class="fas fa-users" style="color: rgba(1, 196, 238, 0.6)">Social</i> </p>

        </div>
      </div>
    </div>
  </div>
</div>

