<div class="row navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to dashboard_path, class: "navbar-brand" do %>
  <%= image_tag "logowhite.png" %>
  <% end %>

  <h1>My Dashboard</h1>

  <div class="navbar-toggler-position">
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="fas fa-user-alt"></span>
    </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item dropdown text-right">
        <%= link_to "Profile", profile_path(:id), class: "dropdown-item text-secondary pl-0" %>
        <%= link_to "Log in", new_user_session_path, class: "dropdown-item text-secondary pl-0" unless user_signed_in? %>
        <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item text-secondary" if user_signed_in? %>
      </li>
    </ul>
  </div>
</div>

  <%= link_to "Create order", new_order_path %>


<div class="container-global" style="height: 73vh;">


</div>


<div class="blank">
  <br>
  <br>
  <br>
  <br>
</div>


<div class="footer-position">
  <input class="inputfooter" type="checkbox" id="switch" checked="true" />
  <label class="labelfooter" for="switch"></label>
  <%= link_to "", lastbasket_path, class: "d-none hidden-link" %>
</div>
