<%= javascript_pack_tag 'chartkick' %>



  <div class="px-3 py-3 mb-4 newheader ">
    <h1 class="text-center mb-0 pb-0 ">All my baskets</h1>
  <% if @orders != nil %>
    <% average_score = []  %>
    <% current_user.orders.each { |order| average_score << (order.total_score / 3) }%>
  </div>

<div class="container global p-0 m-0 col-sm col-lg">

  <h4 class="text-center justify-content-center basketscore">AVERAGE BASKET SCORE : <B style="font-size: 17px; position: "><%= average_score.sum / average_score.count %>/100 </B> </h4>

  <% @average_score_dated = {}  %>
    <% current_user.orders.each do  |order|
      @average_score_dated[order.purchase_date] = ( order.total_score / 3 )%>
      <% end  %>
      <div class="m-4">
        <%= line_chart @average_score_dated, height: "150px",width: "320px", colors: ["rgba(1, 127, 61, 0.6)", "#666"], max: 100 %>
    </div>

  <% current_user.orders.order(purchase_date: desc).each do |order| %>
  <%= link_to order_path(order) do %>
  <div class="card" style="border: none;">
    <button type="button" class="btn btn-link m-0 p-0 rounded-lg" style="border: none; text-align: left; background-color: white; margin-left: 10px;">
      <div class="cart-card">
        <h2 style="text-align: left; text-transform: uppercase;"> <B> <%= l(order.purchase_date, format: ' %A %e %B')%> </B> <h2/>
        <h2 style="text-align: left; flex-grow: 1;"><%= order.order_items.count%> products</h2>
        <% order_score = order.total_score / 3 %>
        <h3 class="product-score
          <% if order_score <= 20 %>
            very-poor-score
          <% elsif order_score <= 40 %>
            poor-score
          <% elsif order_score <= 60 %>
            average-score
          <% elsif order_score <= 80 %>
            good-score
          <% else %>
            excellent-score
          <% end %>">
        <%= order_score %></h3>
      </div>
    </button>
  </div>
    <% end %>
<% end %>
</div>
<% end %>

