

  <div class="px-3 py-3 mb-2 newheader ">
    <h1 class="text-center mb-0 pb-0 ">My magic basket</h1>
    </div>
      <% if @order %>
        <h4 class="text-center mt-0 mb-2 px-3 basketscore"> MAGIC SCORE : <B style="font-size: 17px;"><%= @order.compute_reco_order_score%>/100 </B>
          <br>+ <%= (@order.compute_reco_order_score - (@order.total_score / 3)) %> points</h4>
    </div>
      <% @order.products.uniq.map { |product| Product.recommendation(product.code) }.flatten.each do |recommended_product| %>
    <% if recommended_product && recommended_product.class != String %>


<div class="container global p-0 m-0 col-sm col-lg">

    <div class="accordion" id="accordionExample">
        <div class="card" style="border: none;">
          <button class="btn btn-link m-0 p-0 rounded-lg" type="button" data-toggle="collapse" data-target="#collapse<%= recommended_product.id %>" aria-expanded="true" aria-controls="collapse<%= recommended_product.id %>" style="border: none;">

            <div class="cart-card" id="heading<%= recommended_product.id %>">

              <%= image_tag "#{recommended_product.pnns_second_group.group_icon}", class: "product_icon" %>
              <h2 class=" py-3 m-0" style="text-align: left;"><%= recommended_product.generic_name_fr %> </h2>

            <% recommended_product_score = recommended_product.total_score / 3 %>
              <h3 class="product-score

              <% if recommended_product_score <= 20 %>
                very-poor-score
              <% elsif recommended_product_score <= 40 %>
                poor-score
              <% elsif recommended_product_score <= 60 %>
                average-score
              <% elsif recommended_product_score <= 80 %>
                good-score
              <% else %>
                excellent-score
              <% end %>
                                    "
                                  >
                                    <%= recommended_product_score %></h3>
            </div>
          </button>
        </div>



          <div id="collapse<%= recommended_product.id %>" class="collapse mb-2" aria-labelledby="heading<%= recommended_product.id %>" data-parent="#accordionExample" style="border: none;">
            <div class="card-body mx-2 py-3 rounded-lg" style="border: none; background-color: #ffff;">
              <div class="row">
                <div class="col-6">
                   <img src="<%= recommended_product.image_front_url %>" alt="<%= recommended_product.generic_name_fr %>" class="recommended_products-imgs mb-3 pl-2" >
                </div>
                <div class="col-6 polar-height">
                  <div class='polar-size'>
                    <canvas class="polar-chart" width="170" height="170" data-values="[ <%= recommended_product.health_score %>, <%= recommended_product.compute_environmental_score %>, <%= recommended_product.social_score %> ]">
                    </canvas>
                    <p class="health-icon"><i class="fas fa-heart"></i><br>Health</p>
                    <p class="env-icon"><i class="fas fa-leaf"></i><br>Env.</p>
                    <p class="social-icon"><i class="fas fa-users"></i><br>Social</p>
                  </div>
                </div>
              </div>
              <div class="row m-0 pb-2">
                <div class="col-12 text-right p-0">
                </div>
              </div>

              <div class="row align-items-center rowheight">
                <div class="col-8 mt-1 mb-1 ml-1 pr-0"> <h3> Nutri-score</h3> <p>
                  <% if recommended_product.nutrition_grades_tags == "unknown" || nil %>
                  <%= image_tag "not-applicable-nutriscore.png", class: "nutriscore-img" %>
                  <% else %>
                  <%= image_tag "#{recommended_product.nutrition_grades_tags}-nutriscore.png", class: "nutriscore-img" %> </p>
                  <% end %>
                </div>

                <div class="col-1 pl-1" style="color: <%= Product.color_nutriscore(recommended_product.code)%>"> <i class="fas fa-heart"></i> </div>
                <div class="col-1 pl-1" style="color:#ffff"> <i class="fas fa-leaf"></i> </div>
                <div class="col-1 pl-1" style="color:#ffff"> <i class="fas fa-users"></i> </div>
              </div>


                <div class="row align-items-center rowheight">
                  <div class="col-8 mt-1 mb-1 ml-1 pr-0"> <h3> Type </h3>  <p>
                    <% if recommended_product.pnns_group_2 != 'unknown' %>
                    <%= recommended_product.pnns_group_2 %>
                    <% end %>
                  </p>
                </div>
                  <div class="col-1 pl-1" style="color: <%= Product.color_health(recommended_product.code)%>"> <i class="fas fa-heart"></i> </div>
                  <div class="col-1 pl-1" style="color: <%= Product.color_env(recommended_product.code)%>"> <i class="fas fa-leaf"></i> </div>
                  <div class="col-1 pl-1" style="color:#ffff"> <i class="fas fa-users"></i> </div>
              </div>


              <div class="row align-items-center rowheight">
                <div class="col-8 mt-1 mb-1 ml-1 pr-0"> <h3> Additives </h3> <p>
                  <%= JSON.parse(recommended_product.additives_tags).count %> </p>
                  <% if JSON.parse(recommended_product.additives_tags) != nil %>
                  <p> <%= Product.retrieve_additives(recommended_product.code) %> </p>
                  <% end %>
                </div>

                <div class="col-1 pl-1" style="color: <%= Product.color_additives_health(recommended_product.code)%>"> <i class="fas fa-heart"></i> </div>
                <div class="col-1 pl-1" style="color: <%= Product.color_additives(recommended_product.code)%>"> <i class="fas fa-leaf"></i> </div>
                <div class="col-1 pl-1" style="color:#ffff"> <i class="fas fa-users"></i> </div>
              </div>

              <div class="row align-items-center rowheight">
                <div class="col-8 mt-1 mb-1 ml-1 pr-0"> <h3> Packaging </h3> <p>
                  <%= Product.retrieve_packs(recommended_product.code) %></p>
                </div>
                <div class="col-1 pl-1" style="color: <%= Product.color_pack_health(recommended_product.code)%>"> <i class="fas fa-heart"></i> </div>
                <div class="col-1 pl-1" style="color: <%= Product.color_pack_env(recommended_product.code)%>"> <i class="fas fa-leaf"></i> </div>
                <div class="col-1 pl-1" style="color:#ffff"> <i class="fas fa-users"></i> </div>
              </div>


            <div class="row align-items-center rowheight">
              <div class="col-8 mt-1 mb-1 ml-1 pr-0"> <h3> Origin </h3>  <p> <%= JSON.parse(recommended_product.countries_tags).join(",") %></p> </div>
              <div class="col-1 pl-1" style="color: <%= Product.color_country(recommended_product.code) %>"> <i class="fas fa-heart"></i> </div>
              <div class="col-1 pl-1" style="color: <%= Product.color_country(recommended_product.code) %>"> <i class="fas fa-leaf"></i> </div>
              <div class="col-1 pl-1" style="color: <%= Product.color_country(recommended_product.code) %>"> <i class="fas fa-users"></i> </div>
            </div>

            <div class="row align-items-center rowheight">
              <div class="col-8 mt-1 mb-1 ml-1 pr-0"> <h3> Labels </h3>  <p>
                <% if  recommended_product.labels_tags != nil %>
                <% if recommended_product.label_score == 15  %>
                <%= image_tag "label_bio.png", class: "label-bio-img"%>
                <%= image_tag "fairtrade.png", class: "label-fair-img"%>
                <% elsif recommended_product.label_score == 10  %>
                <%= image_tag "label_bio.png", class: "label-bio-img"%>
                <% elsif recommended_product.label_score == 5  %>
                <%= image_tag "fairtrade.png", class: "label-fair-img"%>
                <% end %>
                <% end %>
                </p>
              </div>
              <div class="col-1 pl-1" style="color: <%= Product.color_labels_health(recommended_product.code)%>"> <i class="fas fa-heart"></i> </div>
              <div class="col-1 pl-1" style="color: <%= Product.color_labels_env(recommended_product.code)%>"> <i class="fas fa-leaf"></i> </div>
              <div class="col-1 pl-1" style="color: <%= Product.color_labels_soc(recommended_product.code)%>"> <i class="fas fa-users"></i> </div>
            </div>
          </div>
        </div>
      </div>

    <% end %>
  <% end %>


<% else  %>
  <div class="col-12 text-center mt-20">
    <h2 class=> No orders yet ! Get your ass to the closest shop!</h2>
  </div>
  <% end %>



