<div class="row navbar navbar-expand-sm navbar-light navbar-lewagon">
  <%= link_to root_path, class: "navbar-brand" do %>
    <%= image_tag "logowhite.png" %>
    <% end %>

  <h1 class="">Magic Basket</h1>

  <div class="navbar-toggler-position">
  <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
    <span class="fas fa-user-alt"></span>
  </button>
  </div>

  <div class="collapse navbar-collapse" id="navbarSupportedContent">
    <ul class="navbar-nav mr-auto">
        <li class="nav-item dropdown">
          <%= link_to "Profile", profile_path(:id), class: "dropdown-item" %>
          <%= link_to "Log in", new_user_session_path, class: "dropdown-item" unless user_signed_in? %>
          <%= link_to "Log out", destroy_user_session_path, method: :delete, class: "dropdown-item" if user_signed_in? %>
        </li>
    </ul>
  </div>
</div>






<div class="container-global" style="height: 73vh;">


  <%= link_to "Create order", new_order_path %>

  <div class="accordion" id="accordionExample">
  <% order = current_user.orders.last  %>
   <% order.products.uniq.map { |product| Product.recommendation(product.code) }.flatten.each do |recommended_product| %>
   <% if recommended_product.image_front_url != nil  %>
    <div class="card">
      <button class="btn btn-link pt-3 pl-3 pr-3 m-0" type="button" data-toggle="collapse" data-target="#collapse<%= recommended_product.id %>" aria-expanded="true" aria-controls="collapse<%= recommended_product.id %>">
        <div class="card-header m-0 p-0" id="heading<%= recommended_product.id %>">

          <div class="col-7">
            <h2 style="text-align: left; font-size: 16px;"><%= recommended_product.generic_name_fr %></h2>
            <img src="<%= recommended_product.image_front_url %>" alt="<%= recommended_product.generic_name_fr %>" class="products-imgs">
            <p style="text-align: left; font-size: 12px;"> Produit précédent </p>
          </div>

          <div class="col-5 chart-align">
            <%= column_chart({"santé"=>[-3], "social"=>5, "env"=>2}, colors: ["#17d120"], width: "85px", height: "175px", dataset: {boderWidth: 33}) %>
          </div>

        </div>
      </button>


      <div id="collapse<%= recommended_product.id %>" class="collapse" aria-labelledby="heading<%= recommended_product.id %>" data-parent="#accordionExample">
        <div class="card-body pl-4 pr-4 m-0">

          <div class="row align-items-center mb-4">
            <div class="col-8"> <h3> Type </h3>  <p>
              <% if recommended_product.pnns_group_2 != 'unknwon' %>
              <%= recommended_product.pnns_group_2 %>
              <% end %>
            </p>
          </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: green"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: #fff"> <i class="fas fa-circle"></i> </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-8"> <h3> Nutri-score</h3> <p>
            <% if recommended_product.nutrition_grades_tags == "unknown" || nil %>
            <%= image_tag "not-applicable-nutriscore.png", class: "nutriscore-img" %>
            <% else %>
            <%= image_tag "#{recommended_product.nutrition_grades_tags}-nutriscore.png", class: "nutriscore-img" %> </p>
            <% end %>
          </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: #fff"> <i class="fas fa-circle"></i> </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-8"> <h3> Additives </h3> <p>
            <%= JSON.parse(recommended_product.additives_tags).count %> </p>
          </div>
          <div class="col-1" style="color: green"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: #fff"> <i class="fas fa-circle"></i> </div>
        </div>

        <div class="row align-items-center mb-4">
          <div class="col-8"> <h3> Packaging </h3> <p>
            <% if  recommended_product.packaging_tags != nil %>
            <% JSON.parse(recommended_product.packaging_tags).each do |add| %>
            <%= add.gsub('-', " ") %>
            <% end %>
            <% end %> </p>
          </div>
          <div class="col-1" style="color: green"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: #fff"> <i class="fas fa-circle"></i> </div>
        </div>


        <div class="row align-items-center mb-4">
          <div class="col-8"> <h3> Origin </h3> <p> <%= recommended_product.countries_tags %></p> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: green"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
        </div>

        <div class="row align-items-center">
          <div class="col-8"> <h3> Labels </h3>  <p>
            <% if  recommended_product.labels_tags != nil %>
            <% JSON.parse(recommended_product.labels_tags).each do |add| %>
            <% if add.match("agriculture")%>
            <%= image_tag "label_bio.png", class: "label-bio-img"%>
            <% end %>

            <% if add.match("fair")%>
            <%= image_tag "fairtrade.png", class: "label-fair-img"%>
            <% end %>
            <% end %></p>
            <% end %>
          </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
          <div class="col-1" style="color: red"> <i class="fas fa-circle"></i> </div>
        </div>
      </div>
    </div>
  </div>
  <%end%>
  <%end %>
</div>
<div class="blank">
  <br>
  <br>
  <br>
  <br>
</div>

<div class="footer-position">
  <input class="inputfooter" type="checkbox" id="switch" checked="true" />
  <label class="labelfooter" for="switch"></label>
  <%= link_to "", lastbasket_path, class: "d-none hidden-link" %>
</div>
